<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yhhl.yhyq">

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.YHYQ"
        android:usesCleartextTraffic="true">
        <activity android:name=".UrlActivity"></activity>
        <activity android:name=".loading.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".workbench.addresslist.activity.AddressListActivity" />
        <activity android:name=".workbench.projectapproval.activity.AddProjectActivity" />
        <activity android:name=".workbench.invoice.activity.AddInvoiceActivity" />
        <activity android:name=".workbench.task.activity.TaskDetailActivity" />
        <activity android:name=".person.VCardActivity" />
        <activity android:name=".person.AboutUsActivity" />
        <activity android:name=".workbench.projectapproval.activity.ProjectDetailActivity" />
        <activity android:name=".workbench.projectapproval.activity.ProjectApprovalActivity" />
        <activity android:name=".workbench.invoice.activity.InvoiceDetailsActivity" />
        <activity android:name=".workbench.invoice.activity.InvoiceActivity" />
        <activity android:name=".workbench.task.activity.TaskActivity" />
        <activity android:name=".workbench.expense.activity.ExpenseActivity" />
        <activity android:name=".workbench.expense.activity.ExpenseDetailActivity" />
        <activity android:name=".login.LoginActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".home.Activity2" />
        <activity android:name=".workbench.expense.activity.NewAddWorkActivity" />
        <activity android:name=".person.PersonActivity" />
    </application> <!-- umeng 权限 -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <meta-data
        android:name="UMENG_APPKEY"
        android:value="561cae6ae0f55abd990035bf" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- umeng 权限 -->
    <!-- 友盟appkey -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>